img {
  display: block;
  margin: auto;
}

.form-div {
  margin-bottom: 5%;
  border: 3px solid #33a853;
  border-radius: 2px;
  box-shadow: 6px 6px 2px black;
}

h3 {
  margin-left: 2%;
  margin-top: 2%;
}

form {
  padding: 5%;
  margin-bottom: 2%;
}
/* 
form > button {
  float: right;
  margin: auto;
} */

form > input {
  margin-bottom: 1%;
}
